.app-wrapper {
  max-width: calc(1000px + 16px * 1.5);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.background {
  background-image: url('../../images/background-img.png');
  background-size: cover;
}
